/* style.module.css */

.announcementBar {
  height: 50px;
  background-color: rgba(255, 246, 246, 1);
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.marqueeContent {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.contentItem {
  margin-right: 10px;
}

.itemContainer {
  display: flex;
  align-items: center;
}

.span {
  margin-right: 5px;
}

.img {
  height: 100%;
  margin-left: 5px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .marqueeContent {
    animation: marquee-mobile 15s linear infinite;
  }

  @keyframes marquee-mobile {
    from {
      transform: translateX(10%);
    }
    to {
      transform: translateX(-80%);
    }
  }
}
