/* style.module.css */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
.cardContainer a {
  text-decoration: none;
  color: inherit;
}

.card {
  width: calc(50% - 16px); /* Calculate width with padding and margin */
  box-sizing: border-box;
  text-decoration: none;
  /* padding: 16px; */
  border: 1px solid #ddd;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.productDetails p {
  margin: 0;
}
.productDetails h3 {
  margin: 0;
  font-size: 13px;
  font-family: Cormorant Garamond;
}

/* Set width to 100% for the third card and eighth card */
.card:nth-child(3),
.card:nth-child(8) {
  width: 100%;
  font-size: 22px;
}

/* Add your other styles as needed */
