.background {
  background: linear-gradient(to bottom, rgb(220, 180, 180, 1), #ffffff);

  width: 100%;
  height: 100vh; /* Adjust the height as needed */
}
.container {
  /* position: fixed; */
  top: 0;
  right: 0; /* Stick the container to the right side of the page */
  /* margin-left: 20%;
  width: 80%; */
}

.imageContainer {
  position: relative;
  overflow: visible;
  width: 300px;
  height: 350px;
  margin-left: auto;
  padding-top: 15px;
}

.image {
  max-width: 100%;
  display: block;
}

.circle {
  position: absolute;
  bottom: -20%; /* Adjust the position to have half inside and half outside */
  left: 0; /* Adjust the position to have half inside and half outside */
  width: 60%; /* Adjust the size of the circle */
  padding-bottom: 60%; /* Maintain a square aspect ratio for the circle */

  border-radius: 50%;
}
.circleTop {
  background-color: pink;
}
.circleBottom {
  background-color: white;
}
